@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------------------ */

/*  Reset

/* ------------------------------------------------------------------------ */

html {
	overflow-y	: scroll;
	height		: 100%;
	font-size	: 62.5%;
	-webkit-text-size-adjust: 100%;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,form,fieldset,p,blockquote {
	margin 	: 0;
	padding : 0;
}

fieldset {
	display	: inline;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style : normal;
}

body/**/table {
	line-height	: 1.5;
}

q:before,
q:after {
	content : '';
}

object,embed {
	vertical-align : top;
}

hr,legend	{
	display : none;
}

h1,h2,h3,h4,h5,h6 {
	font-size : 100%;
}

img,abbr,acronym,fieldset {
	border : 0;
}

li {
	list-style-type : none;
}

img[usemap] {
	border		: none;
	height		: auto;
	max-width	: 100%;
	width		: auto;
}

img {
	border		: 0;
	max-width	: 100%;
}

i {
	padding	: 5px 5px 2px 0;
}

p {
	word-break	: break-all;
}

/* Flexible Images */
img{
    max-width	: 100%;
    height		: auto;
    width /***/	: auto;
}

submit	{ -webkit-appearance : none;}

/* ------------------------------------------------------------------------ */

/*  Basic Style

/* ------------------------------------------------------------------------ */

body {
	margin		: 0;
	padding		: 0;
	height		: 100%;
	font-family	: Meiryo,"Hiragino Kaku Gothic ProN",Sans-Serif;
	font-size	: 1.2rem;
	font-size	: 12px;
	line-height	: 1.5;
	text-align	: center;
	color		: #444;
	-webkit-text-size-adjust	: 100%;
}

#wrap{
	margin		: 0 auto;
	text-align	: center;
}

body > #wrap { height : auto;}


/* Link
--------------------------------------------------------------------------- */

.opacity a:hover img{
	opacity: 0.85;
}

a:link	{
	text-decoration	: none;
/* 	color			: #00F;
 */}

a:visited	{
	text-decoration	: none;
/* 	color			: #941D55;
 */}

a:hover	{
	text-decoration	: underline;
}


/* ------------------------------------------------------------------------ */

/* Hedaer

/* ------------------------------------------------------------------------ */

header {
	width: 100%;
	height: 103px;
	position: sticky;/* 付いてくるヘッダー */
  	top: 0;/* 付いてくるヘッダー */
  	background-color: #fff;
	background: rgba(255,255,255,0.8);/* 白の半透明（赤,緑,青,透明度） */
	z-index: 999;/* 一番表に表示 */
}

header p{
	padding-top: 13px;
	margin-right: 480px;
	color: #959595;
}

.logo{
	display: block;
	width: 120px;
	height: 48px;
	margin-left: 120px;
	padding-top: 10px;
}

.logo:hover{
	opacity: 0.6;
}

.logo_sp{
	display: none;
}

.nav{
	display: flex;
}


/* ------------------------------------------------------------------------ */

/* Navigation

/* ------------------------------------------------------------------------ */

.menu_pc {
	display: block;
	width: 57%;
	margin-left: 252px;
	/*margin-left: calc(100% - 1180px);*/
	padding-top: 32px;
}

.menu_pc ul{
	display: flex;
	justify-content: space-between;
}

.menu_pc ul li{
	color: #444444;
	font-size: 16px;
}

.menu_pc ul li a{
	color: #444444;
}

.menu_pc ul li a:after{
	color: #444444;
}

.menu_sp{
	display: none;
}


/* ------------------------------------------------------------------------ */

/* Contents

/* ------------------------------------------------------------------------ */

#mainBlock {
	clear : both;
}

/* ------------------------------------------------------------------------ */

/* PageTop

/* ------------------------------------------------------------------------ */
#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 999;
}
#page_top a{
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: FontAwesome;
  content: '\f106';
  font-size: 48px;
  color: #fff;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding-bottom: 25px;
  text-align: center;
}


/* ------------------------------------------------------------------------ */

/* Footer

/* ------------------------------------------------------------------------ */

footer {
	width: 100%;
	clear : both;
	background-color: #000;
	color: #fff;
	padding: 10px 0;
}




/* ------------------------------------------------------------------------ */

/* レスポンシブ（スマホ）

/* ------------------------------------------------------------------------ */

/* @mediaの後ろに半角スペース必要 */
/* ########### 599px以下（スマホ）今回は767px以下 ########### */
@media (max-width: 767px) {

	body{background-color: #fff;}

	header {
		width: 100%;
		max-height: 71px;
		position: sticky;/* 付いてくるヘッダー */
	  	top: 0;/* 付いてくるヘッダー */
	  	background-color: #fff;
		background: rgba(255,255,255,0.8);/* 白の半透明（赤,緑,青,透明度） */
		z-index: 999;/* 一番表に表示 */
	}

	header p{
		padding-top: 0px;
		margin-right: 0px;
		color: #959595;
	}

	a:link	{
		text-decoration	: none;
		color			: #000;
	}

	a:visited	{
		text-decoration	: none;
		color			: #000;
	}

	a:hover	{
		text-decoration	: underline;
	}


	.logo_sp{
		display: block;
		width: 27%;
		max-height: 48px;
		margin-left: 0px;
		padding: 4%;
	}

	.logo_sp img{
		max-width: 120px;
		max-height: 48px;
	}

	.logo{
		display: none;
	}

	.menu_pc{
		display: none;
	}

	.menu_sp{
		display: block;
	}

	



	nav {
		width: 57%;
		margin-left: 252px;
		/*margin-left: calc(100% - 1180px);*/
		padding-top: 32px;
	}

	nav ul{
		display: flex;
		justify-content: space-between;
	}

	nav ul li{
		color: #444444;
		font-size: 16px;
	}

	nav ul li a{
		color: #444444;
	}

	nav ul li a:after{
		color: #444444;
	}


	#page_top{
	  width: 60px;
	  height: 60px;
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  background: #000;
	  z-index: 999;
	}

	#page_top a{
	  position: relative;
	  display: block;
	  width: 60px;
	  height: 60px;
	  text-decoration: none;
	}

	#page_top a::before{
	  font-family: FontAwesome;
	  content: '\f106';
	  font-size: 48px;
	  color: #fff;
	  position: absolute;
	  width: 48px;
	  height: 48px;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  left: 0;
	  margin: auto;
	  padding-bottom: 25px;
	  text-align: center;
	}



}

/* ------------------------------------------------------------------------ */

/* レスポンシブ（タブレット）

/* ------------------------------------------------------------------------ */


/* ########### 768px〜1279px（タブレット） ########### */
@media (min-width: 768px) and (max-width: 1279px) {
	body{background-color: #fff;}

	header {
		width: 100%;
		max-height: 71px;
		position: sticky;/* 付いてくるヘッダー */
	  	top: 0;/* 付いてくるヘッダー */
	  	background-color: #fff;
		background: rgba(255,255,255,0.8);/* 白の半透明（赤,緑,青,透明度） */
		z-index: 999;/* 一番表に表示 */
	}

	header p{
		padding-top: 0px;
		margin-right: 0px;
		color: #959595;
	}

	a:link	{
		text-decoration	: none;
		color			: #000;
	}

	a:visited	{
		text-decoration	: none;
		color			: #000;
	}

	a:hover	{
		text-decoration	: underline;
	}

	.logo{
		display: block;
		width: 120px;
		height: 48px;
		position: absolute;
		top: 0;
		left: -100px;
	}









	.menu_pc{
		display: none;
	}

	.menu_sp{
		display: block;
	}



}


